<!-- _includes/heads.html -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Create: Techified" property="og:title" />
    <meta content="Just a silly expert tech modpack" property="og:description" />
    <meta content="https://techified.pages.dev" property="og:url" />
    <meta content="/assets/icon.png" property="og:image" />
    <meta content="#9010E5" data-react-helmet="true" name="theme-color" />
    <link rel="icon" type="image/x-icon" href="/assets/icon.png">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{{ page.title }} | Create: Techified</title>
</head>